@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    /*background: linear-gradient(to left, #918ABF, #61999F);*/
    background: linear-gradient(-45deg, #b91c4e, #61999F, #7c6fd0);
	background-size: 250% 250%;
	animation: gradient 7s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
    }

    50% {
		background-position: 100% 50%;
	}
    
	100% {
		background-position: 0% 50%;
	}
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    line-height: 65px;
    background-color: #8a609c;
    z-index: 1;
}

.wrapper {
    max-width: 1250px;
    margin: auto;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_img {
    display: block;
    width: 75px;
}

.wrapper input {
    display: none;
}

.nav_btns {
    display: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.btn_cancel {
    position: absolute;
    top: 10px;
    right: 30px;
}

.nav_links {
    display: inline-flex;
}

.mobile_item {
    display: none;
}

.active_nav {
    background-color: #61999F;
}

li {
    list-style: none;
}

.nav_links li a {
    padding: 9px 15px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    transition: all .5s ease;
}

.nav_links li a:hover {
    background-color: #61999F;
}

.drop_menu {
    position: absolute;
    width: 100%;
    top: 85px;
    left: 0px;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 20px;
    line-height: 45px;
    background-color: #8a609c;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
}

.drop_menu li a {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
}

.nav_links li:hover .drop_menu, 
.nav_links li:hover .mega_links {
    top: 90px;
    opacity: 1;
    visibility: visible;
}

.mega_links {
    position: absolute;
    width: 100%;
    top: 85px;
    left: 0px;
    padding: 15px 20px;
    background-color: #8a609c;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
    display: flex;
    justify-content: space-evenly;
}

.mega-links li a {
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #D9D9D9;
}

.btn_sign_up a {
    padding: 7.5px 10px;
    font-size: 16px;
    font-weight: 600;
    color: #61999F;
    text-decoration: none;
    background-color: whitesmoke;
    border-radius: 10px;
    transition: all .5s ease;
}

.btn_sign_up a:hover {
    color: #fff;
    background-color: #61999F;
}

.main_div {
    display: flex;
}

.marquee_page_div {
    margin: auto;
    text-align: center;
    line-height: 60px;
}

.empty_div {
    width: 500px;
}

.marquee_page_title {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.visit_link {
    box-sizing: border-box;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background-color: #8a609c;
    border-radius: 15px;
    transition: all .5s ease;
}

.visit_link:hover {
    color: #61999F;
    background-color: #fff;
}

.div1 {
    width: 85%;
    height: 600px;
    margin: 5% auto auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D1D1D1;
    border-radius: 25px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.info2 {
    width: 100%;
    margin: 5% auto 5% auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.div2 {
    width: 30%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CCB0D9;
    border-radius: 25px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.div-back-button {
    position: sticky;
    margin-right: 1%;
    margin-bottom: 1.5%;
    text-align: right;
    bottom: 2.5%;
}

#back-button {
    padding: 5px 10px;
    text-align: right;
    font-size: 16pt;
    font-weight: bold;
    text-decoration: none;
    background-color: #D1D1D1;
    border-radius: 100%;
    transition: all .5s;
}

#back-button:hover {
    background-color: #61999F;
}

footer {
    padding: 15px 0px;
    font-size: 14pt;
    text-align: center;
    color: white;
    background-color: #8a609c;
}

.reference-link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: all .5s;
}

.reference-link:hover {
    color: #61999F;
}

@media only screen and (max-width: 1000px) {    
    .nav_links {
        position: fixed;
        display: block;
        width: 100%;
        max-width: 350px;
        height: 100vh;
        padding: 50px 10px;
        top: 0;
        left: -100%;
        line-height: 50px;
        background-color: #8a609c;
        box-shadow: 0 15px 15px rgba(0, 0, 0, .15);
        transition: all .5s ease;
        overflow-y: auto;
    }

    .nav_links::-webkit-scrollbar {
        width: 0px;
    }

    .nav_links li {
        margin: 15px 10px;
    }

    .nav_links li a {
        display: block;
        padding: 0px 20px;
        font-size: 20px;
    }

    .nav_btns {
        display: block;
    }

    #menu:checked ~ .nav_links {
        left: 0%;
    }

    #menu:checked ~ .btn_menu {
        display: none;
    }


    #cancel:checked ~ .nav_links {
        left: -100%;
    }

    .nav_links .desktop_item {
        display: none;
    }

    .mobile_item {
        display: block;
        padding-left: 20px;
        font-size: 20px;
        font-weight: 500;
        color: #f2f2f2;
        border-radius: 5px;
        transition: all .5s ease;
        cursor: pointer;
    }

    .mobile_item:hover {
        background-color: #61999F;
    }

    .drop_menu {
        position: static;
        display: none;
        width: 100%;
        max-height: 0px;
        padding-left: 20px;
        top: 65px;
        visibility: visible;
        opacity: 1;
    }

    .drop_menu li {
        margin: 0;
    }

    .drop_menu li a {
        font-size: 18px;
        border-radius: 5px;
    }
    
    .mega_links {
        display: none;
        flex-direction: column;
        position: static;
        width: 100%;
        max-height: 0px;
        padding-left: 20px;
        top: 65px;
        background-color: #8a609c;
        visibility: visible;
        opacity: 1;
        transition: all .5s ease;
    }

    .mega_links li {
        margin: 0;
    }

    .mega_links li a {
        font-size: 18px;
        color: #fff;
    }

    #show_drop_menu:checked ~ .drop_menu,
    #show_mega_menu:checked ~ .mega_links {
        display: block;
        max-height: 100%;
    }

    .btn_sign_up a {
        display: none;
    }
}