@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    /*background: linear-gradient(to left, #918ABF, #61999F);*/
    background: linear-gradient(-45deg, #b91c4e, #61999F, #7c6fd0);
	background-size: 250% 250%;
	animation: gradient 7s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
    }

    50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#8a609c, #61999F);
}



nav {
    position: sticky;
    top: 0;
    width: 100%;
    line-height: 65px;
    background-color: #8a609c;
    z-index: 1;
    padding: 0px 10px 0px 10px;
}

.wrapper {
    max-width: 1250px;
    margin: auto;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    display: block;
    width: 75px;
}

.wrapper input {
    display: none;
}

.nav-btns {
    display: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.btn-cancel {
    position: absolute;
    top: 10px;
    right: 30px;
}

.nav-links {
    display: inline-flex;
}

.mobile-item {
    display: none;
}

.active-nav {
    background-color: #61999F;
}

li {
    list-style: none;
}

.nav-links li a {
    padding: 9px 15px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    transition: all .5s ease;
}

.nav-links li a:hover {
    background-color: #61999F;
}

.drop-menu {
    position: absolute;
    width: 100%;
    top: 85px;
    left: 0px;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 20px;
    line-height: 45px;
    background-color: #8a609c;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
    border-top: 1px solid whitesmoke;
}

.drop-menu li a {
    width: 100%;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
}

.nav-links li:hover .drop-menu, 
.nav-links li:hover .mega-links {
    top: 90px;
    opacity: 1;
    visibility: visible;
}

.mega-links {
    position: absolute;
    width: 100%;
    top: 85px;
    left: 0px;
    padding: 15px 20px;
    background-color: #8a609c;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
    display: flex;
    justify-content: space-evenly;
}

.mega-links li a {
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #D9D9D9;
}

.btn-sign-up a {
    padding: 7.5px 10px;
    font-size: 16px;
    font-weight: 600;
    color: #61999F;
    text-decoration: none;
    background-color: whitesmoke;
    border-radius: 10px;
    transition: all .5s ease;
}

.btn-sign-up a:hover {
    color: #fff;
    background-color: #61999F;
}

.welcome-div {
    position: relative;
    padding: 100px;
    color: #fff;
}

.welcome-div h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.welcome-div .welcome-text {
    margin-bottom: 30px;
    font-size: 20px;
}

.welcome-sentence{
    font-size: 1em;
}

p span {
    display: inline-block;
    opacity: 1;
    filter: blur(4px);
    text-decoration: none;
    }
    

    span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    span:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    span:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    span:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    span:nth-child(10) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    span:nth-child(11) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    span:nth-child(12) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    span:nth-child(13) {
    animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    span:nth-child(14) {
    animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    span:nth-child(15) {
    animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    span:nth-child(16) {
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    span:nth-child(17) {
    animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    span:nth-child(18) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    @keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
    }

.circle-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 145px;
    transform: translateY(-50%);
}

.circle {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #D1D1D1;
    margin-right: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.img1{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    background-color: #D1D1D1;
    transition-duration: 0.6s;
}

img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
 }

.circle:nth-child(1) {
    margin-top: 300px;
    z-index: 3;
    background-color: #D1D1D1;
}

.circle:nth-child(2) {
    margin-top: 150px;
    margin-left: -360px;
    z-index: 2;
    background-color: #61999F;
}

.circle:nth-child(3) {
    margin-top: -20px;
    margin-left: -10px;
    z-index: 1;
    background-color: #CCB0D9;
}

.info1 {
    width: 100%;
    height: 500px;
    margin: 10% auto auto auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.div1 {
    width: 25%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CCB0D9;
    border-radius: 50px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    color: aliceblue;
}

.info2 {
    width: 100%;
    margin: 7.5% auto 3% auto;
}

.div2 {
    height: 600px;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D1D1D1;
    border-radius: 25px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.info3 {
    margin: 7.5% auto 3% auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.quiz-img {
    width: 35%;
    background-color: #CCB0D9;
    border-radius: 25px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.quiz-info {
    font-size: 16pt;
    color: white;
}

.div-back-button {
    position: sticky;
    margin-right: 1%;
    margin-bottom: 1.5%;
    text-align: right;
    bottom: 2.5%;
}

#back-button {
    padding: 5px 10px;
    text-align: right;
    font-size: 16pt;
    font-weight: bold;
    text-decoration: none;
    background-color: #D1D1D1;
    border-radius: 100%;
    transition: all .5s;
}

#back-button:hover {
    background-color: #61999F;
}

footer {
    padding: 15px 0px;
    font-size: 14pt;
    text-align: center;
    color: white;
    background-color: #8a609c;
}

.reference-link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: all .5s;
}

.reference-link:hover {
    color: #61999F;
}


@media only screen and (max-width: 1000px) {    
    .nav-links {
        position: fixed;
        display: block;
        width: 100%;
        max-width: 350px;
        height: 100vh;
        padding: 50px 10px;
        top: 0;
        left: -100%;
        line-height: 50px;
        background-color: #8a609c;
        box-shadow: 0 15px 15px rgba(0, 0, 0, .15);
        transition: all .5s ease;
        overflow-y: auto;
    }

    .nav-links::-webkit-scrollbar {
        width: 0px;
    }

    .nav-links li {
        margin: 15px 10px;
    }

    .nav-links li a {
        display: block;
        padding: 0px 20px;
        font-size: 20px;
    }

    .nav-btns {
        display: block;
    }

    #menu:checked ~ .nav-links {
        left: 0%;
    }

    #menu:checked ~ .btn-menu {
        display: none;
    }


    #cancel:checked ~ .nav-links {
        left: -100%;
    }

    .nav-links .desktop-item {
        display: none;
    }

    .mobile-item {
        display: block;
        padding-left: 20px;
        font-size: 20px;
        font-weight: 500;
        color: #f2f2f2;
        border-radius: 5px;
        transition: all .5s ease;
        cursor: pointer;
    }

    .mobile-item:hover {
        background-color: #61999F;
    }

    .drop-menu {
        position: static;
        display: none;
        width: 100%;
        max-height: 0px;
        padding-left: 20px;
        top: 65px;
        visibility: visible;
        opacity: 1;
    }

    .drop-menu li {
        margin: 0;
    }

    .drop-menu li a {
        font-size: 18px;
        border-radius: 5px;
    }
    
    .mega-links {
        display: none;
        flex-direction: column;
        position: static;
        width: 100%;
        max-height: 0px;
        padding-left: 20px;
        top: 65px;
        background-color: #8a609c;
        visibility: visible;
        opacity: 1;
        transition: all .5s ease;
    }

    .mega-links li {
        margin: 0;
    }

    .mega-links li a {
        font-size: 18px;
        color: #fff;
    }

    #show-drop-menu:checked ~ .drop-menu,
    #show-mega-menu:checked ~ .mega-links {
        display: block;
        max-height: 100%;
    }

    .btn-sign-up a {
        display: none;
    }
}