@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    /*background: linear-gradient(to left, #918ABF, #61999F);*/
    background: linear-gradient(-45deg, #b91c4e, #61999F, #7c6fd0);
	background-size: 250% 250%;
	animation: gradient 7s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
    }

    50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#8a609c, #61999F);
}

h1 {
    width: 85%;
    margin: 5% auto auto auto;
    text-align: center;
    font-size: 32pt;
    color: white;
    border-bottom: 5px solid #CCB0D9;
}

.main-div {
    margin: 5% 0% auto 0%;
    padding: 25px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section-div {
    width: 450px;
    height: auto;
    padding: 35px 75px;
    text-align: left;
    background-color: #CCB0D9;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

h2 {
    margin-bottom: 25px;
    text-align: center;
    color: aliceblue;
}

ul {
    list-style-type: square;
    color: aliceblue;
}

a {
    text-decoration: none;
}

.border-div {
    width: 85%;
    margin: 5% auto 1.5% auto;
    border-bottom: 5px solid #CCB0D9;
}

.div-back-button {
    position: sticky;
    margin-right: 1%;
    margin-bottom: 1.5%;
    text-align: right;
    bottom: 2.5%;
}

#back-button {
    padding: 5px 10px;
    text-align: right;
    font-size: 16pt;
    font-weight: bold;
    text-decoration: none;
    background-color: #D1D1D1;
    border-radius: 100%;
    transition: all .5s;
}

#back-button:hover {
    background-color: #61999F;
}

footer {
    padding: 15px 0px;
    font-size: 14pt;
    text-align: center;
    color: white;
    background-color: #8a609c;
}

.reference-link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: all .5s;
}

.reference-link:hover {
    color: #61999F;
}

@media only screen and (min-width: 1076px) and (max-width: 1280px) {     
    h1 {
        width: 85%;
        margin: 5% auto auto auto;
        font-size: 32pt;
    }
    
    .main-div {
        margin: 5% 0% auto 0%;
        padding: 25px 0px;
    }
    
    .section-div {
        width: 450px;
        height: auto;
        padding: 35px 75px;
    }
    
    h2 {
        margin-bottom: 25px;
    }
    
    .border-div {
        width: 85%;
        margin: 5% auto 1.5% auto;
        border-bottom: 5px solid #CCB0D9;
    }
    
    .div-back-button {
        margin-right: 1%;
        margin-bottom: 1.5%;
        bottom: 2.5%;
    }
    
    #back-button {
        padding: 5px 10px;
        font-size: 16pt;
    }
    
    footer {
        padding: 15px 0px;
        font-size: 14pt;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1075px) {   
    h1 {
        width: 85%;
        margin: 5% auto auto auto;
        font-size: 28pt;
    }
    
    .main-div {
        flex-direction: column;
        margin: auto;
        padding: 0px;
    }

    .reverse-div {
        flex-direction: column-reverse;
    }
    
    .section-div {
        width: 575px;
        height: auto;
        margin: 7.5% 0% auto 0%;
        padding: 35px 75px;
    }
    
    h2 {
        margin-bottom: 25px;
        font-size: 18pt;
    }
    
    .border-div {
        width: 85%;
        margin: 7.5% auto 1.5% auto;
        border-bottom: 5px solid #CCB0D9;
    }
    
    .div-back-button {
        margin-right: 1%;
        margin-bottom: 3%;
        bottom: 2%;
    }
    
    #back-button {
        padding: 5px 10px;
        font-size: 14pt;
    }
    
    footer {
        padding: 15px 0px;
        font-size: 12pt;
    }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {   
    h1 {
        width: 100%;
        margin: 5% auto auto auto;
        font-size: 28pt;
    }
    
    .main-div {
        flex-direction: column;
        margin: auto;
        padding: 0px;
    }

    .reverse-div {
        flex-direction: column-reverse;
    }
    
    .section-div {
        width: 100%;
        height: auto;
        margin: 7.5% 0% auto 0%;
        padding: 25px 75px;
        border-radius: 0px;
    }
    
    h2 {
        margin-bottom: 25px;
        font-size: 18pt;
    }
    
    .border-div {
        width: 100%;
        margin: 7.5% auto 1.5% auto;
        border-bottom: 5px solid #CCB0D9;
    }
    
    .div-back-button {
        margin-right: 1%;
        margin-bottom: 3%;
        bottom: 2%;
    }
    
    #back-button {
        padding: 5px 10px;
        font-size: 14pt;
    }
    
    footer {
        padding: 15px 0px;
        font-size: 12pt;
    }
}

@media only screen and (min-width: 460px) and (max-width: 600px) {   
    h1 {
        width: 100%;
        margin: 5% auto auto auto;
        font-size: 24pt;
        border-width: 3px;
    }
    
    .main-div {
        flex-direction: column;
        margin: auto;
        padding: 0px;
    }

    .reverse-div {
        flex-direction: column-reverse;
    }
    
    .section-div {
        width: 100%;
        height: auto;
        margin: 7.5% 0% auto 0%;
        padding: 35px 65px;
        border-radius: 0px;
    }
    
    h2 {
        margin-bottom: 25px;
        font-size: 18pt;
    }
    
    .border-div {
        width: 100%;
        margin: 7.5% auto 1.5% auto;
        border-bottom: 3px solid #CCB0D9;
    }
    
    .div-back-button {
        margin-right: 1%;
        margin-bottom: 3%;
        bottom: 2%;
    }
    
    #back-button {
        padding: 5px 10px;
        font-size: 14pt;
    }
    
    footer {
        padding: 15px 0px;
        font-size: 12pt;
    }
}

@media only screen and (min-width: 320px) and (max-width: 459px) {   
    h1 {
        width: 100%;
        margin: 5% auto auto auto;
        font-size: 18pt;
        border-width: 3px;
    }
    
    .main-div {
        flex-direction: column;
        margin: auto;
        padding: 0px;
    }

    .reverse-div {
        flex-direction: column-reverse;
    }
    
    .section-div {
        width: 100%;
        height: auto;
        margin: 10% 0% auto 0%;
        padding: 35px;
        border-radius: 0px;
    }
    
    h2 {
        margin-bottom: 25px;
        font-size: 14pt;
    }
    
    .border-div {
        width: 100%;
        margin: 10% auto 1.5% auto;
        border-bottom: 3px solid #CCB0D9;
    }
    
    .div-back-button {
        margin-right: 1%;
        margin-bottom: 3%;
        bottom: 2%;
    }
    
    #back-button {
        padding: 5px 10px;
        font-size: 14pt;
    }
    
    footer {
        padding: 15px 0px;
        font-size: 10pt;
    }
}